backup/
.DS_Store

config/*
!config/zsh
!config/nvim
!config/git
!config/tmux

config/zsh/*
!config/zsh/include
!config/zsh/.zshrc
!config/zsh/z.sh

config/nvim/*
!config/nvim/autoload
!config/nvim/init.vim
!config/nvim/coc-settings.json
!config/nvim/after
!config/nvim/plugin
